@model WishList.Models.AccountViewModels.RegisterViewModel

    <h3>Register New User</h3>
    <form asp-action="Register">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div>
            <label></label>
            <br />
            <input asp-for="Email"/>
        </div>
        <div>
            <label></label>
            <br />
            <input asp-for="Password"/>
        </div>
        <div>
            <label></label>
            <br />
            <input asp-for="ConfirmPassword"/>
        </div>
        <div>
            <button type="submit">Register User</button>
        </div>
    </form>